@model Lecturer_Scheduler.Models.AllModels
@{
    ViewBag.Title = "Scheduler";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">

<html>
	
    <head>
        <link href="@Url.Content("~/graphics/StyleScheduler.css")" rel="stylesheet" type="text/css" />

        <script type='text/javascript' src='http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js'></script>
        <script type="text/javascript">

            // the function check what the user choise of filling the scheduler
            // and take care of seting the color respectively 
            var cell_color;
            function color_select(form_color_select) {
                for (var i = 0; i < form_color_select.color_group.length; i++) {
                    if (form_color_select.color_group[i].checked) {
                        cell_color = form_color_select.color_group[i].value;
                        return;
                    }
                }
                cell_color = "white";
            }

            $(document).ready(function () {
                $("tbody td").click(function (e) {
                    $(this).css("background-color", cell_color);
                    $(this).css("font-weight", "bold");
                    $(this).css("color", "Transparent");
                    $(this).text(cell_color);
                    e.stopPropagation();

                    var active = false;

                    $("td").mousedown(function (ev) {
                        active = true;

                        ev.preventDefault(); // this prevents text selection from happening
                        $(this).css("background-color", cell_color);
                        $(this).css("font-weight", "bold");
                        $(this).css("color", "Transparent");
                        $(this).text(cell_color);
                    });

                    $("td").mousemove(function (ev) {
                        if (active) {
                            $(this).css("background-color", cell_color);
                            $(this).css("font-weight", "bold");
                            $(this).css("color", "Transparent");
                            $(this).text(cell_color);
                        }
                    });

                    $(document).mouseup(function (ev) {
                        active = false;
                    });
                });
            });

            function save_scheduler()
            {
                for (var $row = 1; $row < 16; $row++) {

                var $semester = "";
                for (var i = 0; i < semester_group.length; i++) {
                    if (semester_group[i].checked) {
                        semester = semester_group[i].value;
                        break;
                    }
                }
                var $year = select.value;
                var $sunday_color = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 5 + ')').text();
                var $monday_color = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 4 + ')').text();
                var $tuesday_color = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 3 + ')').text();
                var $wednesday_color = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 2 + ')').text();
                var $thursday_color = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 1 + ')').text();
                var $friday_color = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 0 + ')').text();

                   
                $('@ViewBag.Year').value = $year;
                
                '@ViewBag.LecturerID = ';
                '@ViewBag.Year = $year';
                '@ViewBag.Semester = semester';

                '@ViewBag.StartTime = row';
                '@ViewBag.EndTime = row';

                '@ViewBag.Sunday = sunday_color';
                '@ViewBag.Monday = monday_color';
                '@ViewBag.Tuesday = tuesday_color';
                '@ViewBag.Wednesday = wednesday_color';
                '@ViewBag.Thursday = thursday_color';
                '@ViewBag.Friday = friday_color';

            }
            }
            



        </script>
    </head>
	
    <body>
    
        <table id="Scheduler" style="cursor:pointer;cursor:hand" border="1" td width="80%" cellspacing="0" cellpadding="0" align="left">
	        <thead>
	            <tr class="head">
	                <th>שישי</th>
	                <th>חמישי</th>
	                <th>רביעי</th>
	                <th>שלישי</th>
	                <th>שני</th>
	                <th>ראשון</th>
	                <th> </th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>8:00 - 8:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>9:00 - 9:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>10:00 - 10:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>11:00 - 11:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>12:00 - 12:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>13:00 - 13:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>14:00 - 14:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>15:00 - 15:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>16:00 - 16:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>17:00 - 17:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>18:00 - 18:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>19:00 - 19:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>20:00 - 20:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>21:00 - 21:45</th>
	            </tr>
	            <tr >
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <th>22:00 - 22:45</th>
	            </tr>
	        </tbody>
	    </table>
		
	    <p id="para" />
	    <br> </br>
	    <br> </br>         
 
 <!-- main form -->
        <form name="form_show_scheduler" action="../Scheduler/Index" method="POST">
           
            <!-- year handle -->
			
            <div align="right">
                <label for="year" style="color: #000000 ; text-align: right" >:אנא בחר שנה </label>
				<br/>
                <select name="year" id="select">
                    <option name="year_group" value="2013">2013</option>
                    <option name="year_group" value="2014">2014</option>
                    <option name="year_group" value="2015">2015</option>
                    <option name="year_group" value="2016">2016</option>
          
                </select>
            </div>
	    <br> </br>
		
            <!-- semester handle -->	
	    <div align="right">
	        <label for="semester_group" style="color: #000000 ; text-align: right">:אנא בחר סמסטר </label>
	        <br/>
	        סמסטר א <input type="radio" name="semester_group" value="A" checked="checked">
	                <br/>
	    </div>
		        <div align="right">
		            <br>
		            סמסטר ב <input type="radio" name="semester_group" value="B">
		                    <br/>
		        </div>
		        <div align="right">
		            <br/>
		            סמסטר קיץ <input type="radio" name="semester_group" value="S">
		                      <br/>
		        </div>
		  
            <!-- submit handle -->
			    <br/>
            <div align="right">  
                <input type="button" title="scheduler" value="הצג מערכת" onclick="this.form.submit();" />
            
            </div>
            <br/>
         </form>
	
		@if (ViewBag.flag == 1)
  {
      foreach (var item in Model.Scheduler)
      {
            <script type="text/javascript">
                var $row = '@Html.DisplayFor(modelItem => item.StartTime)';
                var $sunday_color = '@Html.DisplayFor(modelItem => item.Sunday)';
                var $test1 = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 5 + ')');
                $test1.css("background-color", $sunday_color);
                $test1.css("font-weight", "bold");

                var $row = '@Html.DisplayFor(modelItem => item.StartTime)';
                var $monday_color = '@Html.DisplayFor(modelItem => item.Monday)';
                var $test1 = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 4 + ')');
                $test1.css("background-color", $monday_color);
                $test1.css("font-weight", "bold");

                var $row = '@Html.DisplayFor(modelItem => item.StartTime)';
                var $tuesday_color = '@Html.DisplayFor(modelItem => item.Tuesday)';
                var $test1 = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 3 + ')');
                $test1.css("background-color", $tuesday_color);
                $test1.css("font-weight", "bold");

                var $row = '@Html.DisplayFor(modelItem => item.StartTime)';
                var $wednesday_color = '@Html.DisplayFor(modelItem => item.Wednesday)';
                var $test1 = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 2 + ')');
                $test1.css("background-color", $wednesday_color);
                $test1.css("font-weight", "bold");

                var $row = '@Html.DisplayFor(modelItem => item.StartTime)';
                var $thursday_color = '@Html.DisplayFor(modelItem => item.Thursday)';
                var $test1 = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 1 + ')');
                $test1.css("background-color", $thursday_color);
                $test1.css("font-weight", "bold");

                var $row = '@Html.DisplayFor(modelItem => item.StartTime)';
                var $friday_color = '@Html.DisplayFor(modelItem => item.Friday)';
                var $test1 = $('table#Scheduler tr:eq(' + $row + ') td:eq(' + 0 + ')');
                $test1.css("background-color", $friday_color);
                $test1.css("font-weight", "bold");
            </script>
      }

  }

	    <hr>
		
	    <form name="form_color_select" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
	        <div align="right" style="color: #00FF00">
	            <label for="color_group" style="color: #000000 ; text-align: right">:אנא בחר זמינות </label>
	            <br>
	            יכול <input type="radio" name="color_group" value="#00FF00" onClick="color_select(form_color_select)">
	                 <br>
	        </div>
	        <div align="right" style="color: #FF9900">
	            <br>
	            אולי <input type="radio" name="color_group" value="#FF9900" onClick="color_select(form_color_select)"> 
	                <br>
	        </div>
	        <div align="right" style="color: #FF0000">
	            <br>
	            לא יכול <input type="radio" name="color_group" value="#FF0000" onClick="color_select(form_color_select)">
	                   <br>
	        </div>
	        <div align="right" style="color: #000000">
	            <br>
	            מחיקה<input type="radio" name="color_group" value="#FFFFFF" onClick="color_select(form_color_select)">
	                 <br>
	        </div>
	    </form>
		
	    <form>
	        <br>   
            <div align="center">
                <input type="submit" value="שמירה" onclick="save_scheduler()"/>
                <br>
	        </div>
	    </form>
	    <hr>

	    <br> </br>
	    <br> </br>

	</body>
</html>



